# Node.js dependencies
/node_modules
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
/pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs
*.log
logs/*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage reports
/coverage
*.lcov

# Build output
/dist
/build
/.next
/out
/.cache

# Temporary files
.DS_Store
Thumbs.db
*.tmp

# IDE / Editor settings
.vscode/
.idea/
*.swp

# OS-specific files
ehthumbs.db
Desktop.ini

# MongoDB
*.lock
dump/
